.timeline.bar-chart .graph rect {
  fill: gray;
}

.timeline.bar-chart .graph rect.selected {
  fill: lightgray;
}

.timeline.bar-chart .graph .tooltip {
  pointer-events: none;
}

.timeline.bar-chart .graph .tooltip rect {
  fill: gray;
  stroke: white;
  stroke-width: 1px;
}

.timeline.bar-chart .graph .tooltip text {
  fill: white;
  font-family: Courier;
  font-size: 14px;
  text-anchor: middle;
}

.timeline.bar-chart .graph .tooltip.show {
  display: inline;
}

.timeline.bar-chart .graph .tooltip.hide {
  display: none;
}