.timeline.gantt-chart .graph rect.selected {
  opacity: 0.4;
}

.timeline.gantt-chart .graph text {
  fill: gray;
  font-family: Courier;
  font-size: 14px;
}

.timeline.gantt-chart .graph text.link {
  cursor: pointer;
  fill: blue;
}

.timeline.gantt-chart .graph .tooltip rect {
  fill: gray;
  stroke: white;
  stroke-width: 1px;
}

.timeline.gantt-chart .graph .tooltip text {
  fill: white;
  font-family: Courier;
  font-size: 14px;
  text-anchor: middle;
}

.timeline.gantt-chart .graph .tooltip.show {
  display: inline;
}

.timeline.gantt-chart .graph .tooltip.hide {
  display: none;
}

.timeline.gantt-chart .graph .deadline {
  pointer-events: none;
}

.timeline.gantt-chart .graph .deadline .range {
  stroke: lightgray;
  stroke-dasharray: 4px;
  stroke-width: 1px;
}

.timeline.gantt-chart .graph .deadline .range.hide {
  display: none;
}

.timeline.gantt-chart .graph .deadline .date {
  stroke: red;
  stroke-width: 2px;
}

.timeline.gantt-chart .graph .deadline polygon {
  fill: red;
  stroke: red;
}