.timeline.gantt-chart .graph rect.selected {
  opacity: 0.4;
}

.timeline.gantt-chart .graph .label {
  fill: gray;
  font-family: Courier;
  font-size: 14px;
}

.timeline.gantt-chart .graph .label.link {
  cursor: pointer;
  fill: blue;
}

.timeline.gantt-chart .graph .deadline {
  pointer-events: none;
}

.timeline.gantt-chart .graph .deadline .range {
  stroke: lightgray;
  stroke-dasharray: 4px;
  stroke-width: 1px;
}

.timeline.gantt-chart .graph .deadline .range.hide {
  display: none;
}

.timeline.gantt-chart .graph .deadline .date {
  stroke: red;
  stroke-width: 2px;
}

.timeline.gantt-chart .graph .deadline polygon {
  fill: red;
  stroke: red;
}