.header {
  background-color: lightgray;
  display: table;
  height: 42px;
  padding: 0 8px;
  width: 100%;
}

.header > * {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.header .icon {
  cursor: default;
  white-space: nowrap;
}

.header .time-span {
  white-space: nowrap;
}

.header .time-span > * {
  display: inline-block;
  vertical-align: middle;
}

.header .time-span select {
  padding: 0 8px;
}

.header .time-span .icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: Courier;
  padding: 4px;
}

.header .pixels-per-day {
  padding: 0 16px;
  white-space: nowrap;
}

.header .pixels-per-day > * {
  display: inline-block;
  vertical-align: middle;
}

.header .pixels-per-day input {
  margin: 0 4px;
  padding: 0;
  width: 192px;
}

.header .spacer {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.header .button {
  color: #333;
  padding: 0 16px;
  text-decoration: none;
}

.header .button.done {
  font-weight: bold;
}

.header .button.disabled {
  pointer-events: none;
}

.header .button:active {
  opacity: 0.3;
}

.header .button.hide {
  visibility: hidden;
}

.header .popover {
  -webkit-box-shadow: 0 0 8px gray;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  cursor: default;
  position: absolute;
  max-height: 480px;
  right: 16px;
  top: 48px;
  width: 360px;
  z-index: 1;
}

.header .popover.hide {
  visibility: hidden;
}

.header .popover:after {
  border-bottom: 16px solid whitesmoke;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  content: "";
  right: 26px;
  position: absolute;
  top: calc(0% - 14px);
}

.header .popover .popover-header {
  border-bottom: 1px solid lightgray;
  display: table;
  height:42px;
}

.header .popover .popover-header > * {
  display: table-cell;
  vertical-align: middle;
}

.header .popover .popover-header a {
  color: orangered;
}

.header .popover .popover-content {
  height: calc(100% - 42px);
  padding: 24px;
}

.header .popover .popover-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.header .popover-list-item {
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  display: table;
  height: 42px;
  width: 100%;
}

.header .popover-list-item .popover-list-item-title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 16px;
  width: calc(100% - 84px);
}

.header .popover-list-item .popover-list-item-title .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .popover-list-item .popover-list-item-title .text.initial {
  width: 280px;
}

.header .popover-list-item .popover-list-item-title .text.edit {
  width: 196px;
}

.header .popover-list-item .popover-list-item-button {
  color: #333;
  display: table-cell;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 42px;
}

.header .popover-list-item .popover-list-item-handle {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #333;
  display: table-cell;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  width: 42px;
}

.header .popover-list-item .popover-list-item-button:active {
  opacity: 0.3;
}

.header .popover-list-item.loading {
  color: gray;
}

.header .popover-list-item.loading .popover-list-item-title:before {
  content: "Loading...";
}

.header .popover-list-item.load-error {
  background-color: pink;
  color: red;
}

.header .popover-list-item.load-error .popover-list-item-title:before {
  content: "Load Error";
}

.header .popover-list-item.load-error .popover-list-item-title .text {
  display: none;
}

.header .popover .popover-content input {
  font-size: 16px;
  margin: 8px 0;
  width: 100%;
}