.header {
  background-color: lightgray;
  display: table;
  height: 42px;
  padding: 0 8px;
  width: 100%;
}

.header > * {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.header .icon {
  cursor: default;
  white-space: nowrap;
}

.header .time-span {
  white-space: nowrap;
}

.header .time-span > * {
  display: inline-block;
  vertical-align: middle;
}

.header .time-span select {
  padding: 0 8px;
}

.header .time-span .icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: Courier;
  padding: 4px;
}

.header .scale {
  padding: 0 16px;
  white-space: nowrap;
}

.header .scale > * {
  display: inline-block;
  vertical-align: middle;
}

.header .scale input {
  margin: 0 4px;
  padding: 0;
  width: 192px;
}

.header .spacer {
  width: 100%;
}

.header .button {
  color: #333;
  padding: 0 16px;
  text-decoration: none;
}

.header .button:active {
  opacity: 0.3;
}