.timeline.line-chart .graph line {
  pointer-events: none;
  stroke: gray;
}

.timeline.line-chart .graph circle {
  fill: gray;
  stroke: transparent;
  stroke-width: 8px;
}

.timeline.line-chart .graph circle.selected {
  fill: lightgray;
}