.timeline {
  border-bottom: 1px solid gray;
  position: relative;
}

.timeline.dummy {
  border: 0;
  height: 1px;
}

.timeline .title {
  color: gray;
  position: absolute;
}

.timeline .graph {
  vertical-align: bottom;
}

.timeline .graph .tooltip {
  pointer-events: none;
}

.timeline .graph .tooltip rect {
  fill: gray;
  stroke: white;
  stroke-width: 1px;
}

.timeline .graph .tooltip text {
  fill: white;
  font-family: Courier;
  font-size: 14px;
  text-anchor: middle;
}