.time-axis {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  height: 32px;
  overflow: hidden;
}

.time-axis pattern line {
  stroke: lightgray;
}

.time-axis .background {
  fill: url(#time-axis-pattern);
}

.time-axis .month line {
  stroke: lightgray;
  stroke-width: 2px;
}

.time-axis .month rect {
  fill: lightgray;
}

.time-axis .month text {
  cursor: default;
  fill: gray;
  font-size: 14px;
  text-anchor: middle;
}

.time-axis .today {
  fill: red;
  opacity: 0.6;
}